.pokedex-all {
    display: flex;
}

.pokedex-all-list {
    width: 300px;
    align-items: center;
}

.pokedex-all-list-item {
    width: 300px;
    margin: 2px;
    padding: 2px;
    display: block;
}

.pokedex-all-data {
    margin-left: auto;
}